
.media-render #head {display:none;}

.media-render #content  p:first-of-type {display:none;}

.media-render #content p {margin:5px 0 0 0 !important; }

.page .site-page-pagination {
      border-top: 1px solid $gray;
      padding-top: $spacing-m - 1px;
      display:none;
}

.search-filters {
	text-align:left;
}

.nav {
	background-color: #CCCC9A;

}

header nav .navigation {
	border-bottom: 1px solid #443f22;
	border-bottom: 0.2em solid #443f22;;
	opacity: 0.60;
}

header nav .navigation a {
	color: #443f22;
}

.secondary-nav a {
    color: #443f22;
}

header nav a {
    font-size: 1.1 * $base-font-size;
}

h1, h2, h3, h4, h5, h6 {
    color: #443F22;
}

h1 {
    text-align: left;
    font-size: 2 * $base-font-size;
    margin-bottom: $spacing-l;
    line-height: 1.5 * $base-line-height;
    font-weight: normal;
}

h2 {
    font-size: 1.5 * $base-font-size;
    margin-bottom: $spacing-l;
    line-height: 1.5 * $base-line-height;
    font-weight: normal;
    text-align: left;
}

h3 {
    font-size: 1.3 * $base-font-size;
    margin-bottom: $spacing-l;
    line-height: $base-line-height;
    font-weight: normal;
    text-align: left;
}

h4 {
    font-size: 1.1 * $base-font-size;
    margin-bottom: $spacing-l;
    line-height: $base-line-height;
    font-weight: normal;
    text-align: left;
}

h5 {
    font-size:  $base-font-size;
    margin-bottom: $spacing-l;
    line-height: $base-line-height;
    font-weight: normal;
    text-align: left;
}

.page #content .sub-menu {
    padding: 0 gutter() $spacing-l 0;
    width: span(3 of 16);
}

.page #content .sub-menu ~ *:not(.site-page-pagination) {
    width: span(13 of 16);
}

.page #content .sub-menu > ul {
    margin: 0;
}

.page #content .sub-menu a {
    font-size: $base-font-size;
    color: #443F22;
}

.page #content .sub-menu .current a {
    font-weight:bold;
}

.preview-block .description {
    max-height: 4 * $base-line-height;
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 2 * $base-line-height;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent, #ffffff 100%);
    }
}

#content .blocks > h2:first-of-type {
    text-align: left;
    font-size: 1.5 * $base-font-size;
    margin-bottom: $spacing-l.3;
    line-height: 1.5 * $base-line-height;
    font-weight: normal;
}

.preview-block .resource img {
    max-width: 100%;
}

.search-filters .filter .filter-label {display:none;}

.browse #content > h2 > span {display:none;}

.search-filters .filter {
    display: inline-block;
    border: 0;
    padding: 0;
    font-size: 22.5px;
    margin: 0em;
}

.publication-list > li {
      list-style: none;
      padding-bottom: 3px;
    }

.publication-list > li:before {
      /* For a square bullet */
      content:'\25A0 ';
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -15px;
      top: 1px;
      color: #CCCC9A;
      font-size: 20px;
    }

    p {
    margin: $spacing-m 0;
}

.blocks {
    padding-left:$spacing-s;
}

.left.large.file {
    float:none;
}

.collection-info > span {
    font-size: 0.7* $base-font-size;
}

.item.resource {
    margin-left:0px;
}
